/* css/style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111827;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

/* MENU */

.sidebar {
  width: 250px;
  background: #1f2937;
  padding: 20px;
  border-right: 1px solid #374151;
}

.sidebar h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.menu-item {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;

  border: none;
  border-radius: 10px;

  background: #374151;
  color: white;

  cursor: pointer;
  text-align: left;

  transition: 0.2s;
}

.menu-item:hover {
  background: #4b5563;
}

.menu-item.active {
  background: #2563eb;
}

/* CONTEÚDO */

.content {
  flex: 1;
  padding: 40px;
}

.project {
  display: none;
}

.project.active {
  display: block;
}

.project h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.project p {
  margin-bottom: 20px;
  color: #d1d5db;
}

.project a {
  display: inline-block;
  padding: 12px 20px;

  background: #2563eb;
  color: white;

  text-decoration: none;
  border-radius: 8px;
}

.project a:hover {
  background: #1d4ed8;
}
